extends layout

block content
  h1= title
  - let items = results
   div(class = "container-fluid")
    div(class = "row m-1")
     each item in items  
      - let destination = `dispatch(\"/dominos/update?id=${item._id}\")`
      - let destination1 = `dispatch(\"/dominos/create\")`
      - let destination2 = `dispatch(\"/dominos/detail?id=${item._id}\")`
      - let destination3 = `dispatch(\"/dominos/delete?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") Itemname: #{item.Itemname}(#{item.Quantity}) is #{item.price}  
        button.btn( class="btn-primary ml-1", onclick= destination, style = "margin:8px;") Update
        button.btn( class="btn-primary ml-1", onclick= destination1, style = "margin:8px;" ) Create
        button.btn( class="btn-primary ml-1", onclick= destination2, style = "margin:8px;" ) Detail
        button.btn( class="btn-primary ml-1", onclick= destination3, style = "margin:8px;" ) Delete
  script.
    function buy(itemNo){
        alert(`You purchased item ${itemNo+1}`)
    }
  script. 
    function dispatch(path){ 
        window.location.href=path 
    } 