extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to Delete
 else
  - let dominosid = toShow._id
  - let Itemname = toShow.Itemname
  - let Quantity = toShow.Quantity
  - let price = toShow.price
  - let actionid = "/resource/dominos/" + dominosid
  script let actionid = "#{actionid}"
  div
   div.row
    div(class='dominosAttr mr-3') dominos ID is:
    div #{dominosid}
   div.row
    div(class='dominosAttr mr-3') Itemname is:
    div #{Itemname}
   div.row
    div(class='dominosAttr mr-3') Quantity is:
    div #{Quantity}
   div.row
    div(class='dominosAttr mr-3') price is:
    div #{price}

  button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
  button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the hotel collection
      window.Quantity.href='/dominos'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/hotel'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }